
.contenedor-main{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px 0px 0px;

    h1{
        display: none;
    }

    .text-derechos{
        
        font-size: 14px;

    }


}