/* variables paleta de color */

$paleta-color-1:black;
$paleta-color-2:#22232a;
$paleta-color-3:#46413b;
$paleta-color-4:#bebab4;
$paleta-color-5:#f7f7f6;



*{
    margin: 0;
    padding: 0;
    background-color: $paleta-color-1;
    color: $paleta-color-5;
    font-family:Arial, Helvetica, sans-serif
}

.contenedor-general{

    display: flex;
    flex-direction: column;
           
}